/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$textColor: #ccc;
$statusHeight: 2.75em;

.home {
  color: $textColor !important;
  font-size: 1.2em;
  margin-right: 1em;
}

.container {
  flex: 0;
  box-sizing: border-box;

  .bar {
    height: $statusHeight;
    z-index: 1000;
    border-bottom: 1px solid #405161;
    color: $textColor;
  }

  .status,
  .warning {
    padding: 0.5rem 0.75rem;
  }

  .status {
    align-items: center;
    display: flex;
  }

  .warning {
    background: red;
    display: block;
  }
}

.plugins {
  flex-grow: 1;
  text-align: right;
  vertical-align: middle;

  > div,
  > img,
  > span {
    display: inline-block !important;
    margin: 0 0 0 1rem;
    vertical-align: middle;
  }

  .divider {
    height: 1rem;
    margin: 0 0.25rem 0 1.25rem;
    opacity: 0.75;
  }

  .health {
    > span {
      margin: -0.5rem 0 0.2rem 0 !important;
      width: auto;
    }
  }
}

.upgrade {
  div {
    display: inline-block;
    margin-left: 1rem;
  }
}
