/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$textColor: #ccc;

.status {
  align-items: center;
  bottom: 0;
  color: $textColor;
  display: flex;
  left: 0;
  padding: 0.5em 0.75em;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.plugins {
  flex-grow: 1;
  text-align: right;
  vertical-align: middle;

  > div,
  > img,
  > span {
    display: inline-block !important;
    margin: 0 0 0 1em;
    vertical-align: middle;
  }
}

.upgrade {
  div {
    display: inline-block;
    margin-left: 1em;
  }
}

.defaultAccount,
.signerPending {
  cursor: pointer;
}
