/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.inputs {
  padding-top: 2px;
  overflow-x: hidden;

  label {
    line-height: 22px;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.498039);
    -webkit-user-select: none;
    font-size: 12px;
    top: 11px;
    position: relative;
  }
}

.ethInput {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .input {
    flex: 1;
    position: relative;

    .label {
      position: absolute;
      right: 1.5em;
      bottom: 1em;
      font-size: 0.85em;
      margin-left: 0.5em;
    }
  }

  .toggle {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

