/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

:root,
:root body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
}

:root * {
  font-weight: 300 !important;
}

:root a,
:root a:visited {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 151, 167); /* #f80 */
}

:root a:hover {
  color: rgb(0, 174, 193);
}

:root .reset { font-size: initial; width: 100%; height: 100%; }
/* shame:on */
/* Material-ui is changing input properties with inline styles. */
/* because of that https://github.com/ethcore/eth-node-status-page is overriding all inputs with !important
/* We want to keep it consistent and we use material ui, so we set the default color according to material ui */
:root .reset input {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.870588) !important;
}
:root .reset input[disabled] {
  color: rgba(0, 0, 0, 0.298039) !important;
}
/* shame:off */

// Prefixed version of
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
:root .reset div, :root .reset span, :root .reset applet, :root .reset object, :root .reset iframe,
:root .reset h1, :root .reset h2, :root .reset h3, :root .reset h4, :root .reset h5, :root .reset h6, :root .reset p, :root .reset blockquote, :root .reset pre,
:root .reset a, :root .reset abbr, :root .reset acronym, :root .reset address, :root .reset big, :root .reset cite, :root .reset code,
:root .reset del, :root .reset dfn, :root .reset em, :root .reset img, :root .reset ins, :root .reset kbd, :root .reset q, :root .reset s, :root .reset samp,
:root .reset small, :root .reset strike, :root .reset strong, :root .reset sub, :root .reset sup, :root .reset tt, :root .reset var,
:root .reset b, :root .reset u, :root .reset i, :root .reset center,
:root .reset dl, :root .reset dt, :root .reset dd, :root .reset ol, :root .reset ul, :root .reset li,
:root .reset fieldset, :root .reset form, :root .reset label, :root .reset legend,
:root .reset table, :root .reset caption, :root .reset tbody, :root .reset tfoot, :root .reset thead, :root .reset tr, :root .reset th, :root .reset td,
:root .reset article, :root .reset aside, :root .reset canvas, :root .reset details, :root .reset embed,
:root .reset figure, :root .reset figcaption, :root .reset footer, :root .reset header, :root .reset hgroup,
:root .reset menu, :root .reset nav, :root .reset output, :root .reset ruby, :root .reset section, :root .reset summary,
:root .reset time, :root .reset mark, :root .reset audio, :root .reset video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
:root .reset article, :root .reset aside, :root .reset details, :root .reset figcaption, :root .reset figure,
:root .reset footer, :root .reset header, :root .reset hgroup, :root .reset menu, :root .reset nav, :root .reset section {
  display: block;
}
:root .reset body {
  line-height: 1;
}
:root .reset ol, :root .reset ul {
  list-style: none;
}
:root .reset blockquote, :root .reset q {
  quotes: none;
}
:root .reset blockquote:before, :root .reset blockquote:after,
:root .reset q:before, :root .reset q:after {
  content: '';
  content: none;
}
:root .reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
