html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  background: white;
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.accounts {
  padding: 2em 2em 0 2em;
  text-align: center;
  width: 100%;
}

.accounts .account {
  margin: 0.5em !important;
  background: rgb(50, 150, 255) !important;
  display: inline-block !important;
}

.accounts .account img {
  margin-bottom: -11px;
  margin-left: -11px;
}

.accounts .none {
  color: rgba(255, 255, 255, 0.7);
}

.accounts .account .balance {
  color: rgba(255, 255, 255, 1) !important;
}

.accounts .account .name {
  color: rgba(255, 255, 255, 0.7) !important;
  margin-right: 1em;
}

.actions {
  text-align: center;
  padding: 2em 2em 0 2em;
  width: 100%;
}

.balance {
  font-family: 'Roboto Mono', monospace;
}

.button {
  margin: 0 0.5em;
}

.button button {
  background-color: rgba(0, 100, 255, 1) !important;
  height: 56px !important;
}

.button button span {
  font-weight: 300 !important;
}

.dialog {
}

.dialog h3 {
  background: rgba(0, 100, 255, 0.7);
  color: white !important;
  font-weight: 300 !important;
  text-transform: uppercase;
}

.dialog .text {
  padding-top: 1em;
}

.events {
  padding: 2em;
}

.events .list {
  width: 100%;
  border: none;
  border-spacing: 0;
}

.events .list td {
  vertical-align: top;
  padding: 4px 0.5em;
  max-height: 32px;
}

.event {
  line-height: 32px;
  vertical-align: top;
}

.event .blocknumber,
.event .gavvalue {
  text-align: right;
}

.event .ethvalue {
  text-align: center;
}

.event .type {
}

.event .account {
}

.event .account img {
  margin-bottom: -11px;
}

.event div {
  display: inline;
  margin-right: 1em;
  vertical-align: top;
}

.event.mined {
}

.event.pending {
  opacity: 0.5;
}

.event.newtranch {
  background: rgba(50, 250, 50, 0.1);
}

.iconimg img {
  margin-top: -4px;
}

.link, .link:hover, .link:visited {
  color: rgb(0, 188, 212);
  text-decoration: none;
}

.loading {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.name {
  text-transform: uppercase;
}

.selectaccount .selectedaccount {
  padding: 4px 0 !important;
}

.selectedaccount {
  display: inline-block;
}

.selectedaccount .name {
  display: inline-block;
  margin-right: 1em;
}

.selectedaccount .balance {
  display: inline-block;
  text-align: right;
  color: #aaa;
}

.selectedaccount .details {
  display: inline-block;
}

.selectedaccount .image {
  display: inline-block;
}

.selectedaccount .image img {
  margin: 0 1em -11px 0;
}

.status {
  background: rgba(0, 100, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  padding: 3em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
}

.status .item {
  flex: 0 1 30%;
  width: 30%;
  margin: 0 1.5%;
  text-align: center;
}

.status .byline {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.7);
}

.status .heading {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
}

.status .hero {
  font-size: 4em;
}
