html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: white;
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.accounts {
  padding: 1em 2em;
}

.actions {
  background: rgba(232, 232, 232, 0.5) !important;
}

.events {
  padding: 1em 2em;
}

.loading {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.status {
  color: rgba(0, 0, 0, 0.4);
}
