html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  background: white;
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.accounts {
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
}

.account {
  margin-right: 1em !important;
}

.account img {
  margin-bottom: -11px;
  margin-left: -11px;
}

.actions {
  background: rgba(232, 232, 232, 0.5) !important;
}

.balance {
  font-family: 'Roboto Mono', monospace;
}

.account .name {
  color: white;
  margin-right: 1em;
}

.events {
  padding: 1em 2em;
}

.event.mined {
}

.event.pending {
  color: #aaa;
}

.iconimg {
  border-radius: 50%;
}

.link, .link:hover, .link:visited {
  color: rgb(0, 188, 212);
  text-decoration: none;
}

.loading {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.name {
  text-transform: uppercase;
}

.selectaccount {
  display: inline-block;
}

.selectaccount .name {
  display: inline-block;
  margin-right: 1em;
}

.selectaccount .balance {
  display: inline-block;
  text-align: right;
  color: #aaa;
}

.selectaccount .details {
  display: inline-block;
}

.selectaccount .image {
  display: inline-block;
  padding-right: 1em;
}

.selectaccount .image .iconimg {
  margin: 11px 0 -11px 0;
}

.status {
  color: rgba(0, 0, 0, 0.4);
}
