:root,
:root body {
  background: #fff;
  border: 0;
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

:root,
:root body,
:root :global(#container) {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
}


:root :global(#container) > div {
  flex: 1;
}
