:root,
:root body {
  background: #fff;
  border: 0;
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

:root,
:root body,
:root #container {
  height: 100%;
  width: 100%;
}
