/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.dapps {
  margin-top: 1.5em;
  text-align: center;

  .dapp {
    position: relative;
    line-height: 2em;
    vertical-align: middle;

    .icon {
      margin: 0;
    }

    .link, .name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      white-space: nowrap;
    }

    .timestamp {
      color: #aaa;
      font-size: 0.75em;
      line-height: 1em;
      padding-top: 0;
    }
  }
}
