.actions {
  text-align: center;
  padding: 2em 2em 0 2em;
  width: 100%;
}

.button {
  margin: 0 0.5em;
}

.button button {
  background-color: rgba(50, 100, 150, 1) !important;
  height: 56px !important;
  padding: 0 10px !important;
}

.button button[disabled] {
  background-color: rgba(50, 50, 50, 0.25) !important;
}

.dialog {
}

.dialog h3 {
  background: rgba(50, 100, 150, 1);
  color: white !important;
  text-transform: uppercase;
}

.dialogtext {
  padding-top: 1em;
}

.link, .link:hover, .link:visited {
  color: rgb(0, 188, 212);
  text-decoration: none;
}
