/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation; either version 3 of the License; or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful;
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not; see <http://www.gnu.org/licenses/>.
*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 20000
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20001
}

.body {
  margin: 0 auto;
  padding: 2em 4em;
  text-align: center;
  max-width: 40em;
  background: rgba(25, 25, 25, 0.75);
  color: rgb(208, 208, 208);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px
}

.header {
  fontSize: 1.25em
}

.info {
  margin-top: 1em;
  line-height: 1.618em
}

.form {
  margin-top: 0.75em;
  padding: 0 4em;
  text-align: left;
}

.timestamp {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0.75em 0;
  padding: 1em;
}

.btnrow {
  text-align: right;
  padding: 0 4em;
}

.icons {
}

.icon,
.iconSmall {
  display: inline-block;
  padding: 1em;
  vertical-align: middle;
}

.iconName {
}

.icon .svg {
  width: 6em !important;
  height: 6em !important;
}

.iconSmall .svg {
  width: 3em !important;
  height: 3em !important;
}

.console {
  font-family: 'Roboto Mono', monospace;
  background: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  padding: 0 0.25em;
}

@keyframes pulse {
  0% {
    fill: rgb(0, 200, 0);
  }
  50% {
    fill: rgb(150, 200, 150);
  }
  100% {
    fill: rgb(0, 200, 0);
  }
}

.pulse {
  fill: red;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
