/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  border-top: 1px solid #6691C2;
  padding: 10px;
  margin: 50px 0 0;
  color: #6691C2;
}
.right {
  float: right;
}

.logButton {
  float: right;
  height: 15px !important;
  width: 15px !important;
  padding: 0 !important;
  margin-top: 3px !important;
  margin-left: 3px;
}

.logIcon {
  height: 100% !important;
  width: 100% !important;
}

.off {
  opacity: .3;
}
