.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  border-top: 1px solid #6691C2;
  padding: 10px;
  margin: 50px 0 0;
  color: #6691C2;
}
.right {
  float: right;
}

.logButton {
  float: right;
  height: 15px !important;
  width: 15px !important;
  padding: 0 !important;
  margin-top: 3px !important;
  margin-left: 3px;
}

.logIcon {
  height: 100% !important;
  width: 100% !important;
}

.off {
  opacity: .3;
}