/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.vMethods, .hMethods, .methods {
  display: flex;
  flex-wrap: wrap;
}

.container {
  align-items: flex-start;
  display: border-box;
}

.container .method {
  background-color: rgba(255, 255, 255, 0.05) !important;
  margin: 0.5em;
}

.vMethods {
  flex-direction: column;
  width: 33.3333%;
}

.hMethods {
  flex: 1;
  flex-direction: row;
  width: 66.6666%;
}

.hMethods .container {
  width: 50%;
}

.methodTitle {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.methodContent {
  padding-top: 0 !important;
  padding-bottom: 8px !important;
}

.methodResults {
}

.methodResults > div {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;

  & > div {
    width: 100%;
  }
}

.queryValue {
  width: 100%;
}

.queryValue, .queryValue * {
  white-space: normal !important;
  overflow-wrap: break-word !important;
  max-width: 100%;
  box-sizing: border-box;
}
