{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-runtime"
  ],
  "retainLines": true,
  "env": {
    "modules": false,
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        ["react-intl", { "messagesDir": "./.build/i18n/" }],
        "react-hot-loader/babel"
      ]
    },
    "test": {
    }
  }
}
