.toastrContainer {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 250px;
}

.toast {
  padding: 1.1rem;
  position: relative;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
  animation: fadein .5s;
}

.toast:hover .remove {
  opacity: 0.9;
}

.error {
  background: #E53935 !important;
  border-color: 1px solid #C62828;
  color: #fff !important;
}

.success {
  background: #43A047 !important;
  border-color: 1px solid #2E7D32;
  color: #fff !important;
}

.remove {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.remove:hover {
  text-decoration: none;
}

.error .remove,
.success .remove {
  color: #fff !important;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
