/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 20000;
}

.body {
  margin: 0 auto;
  padding: 2em 4em;
  text-align: center;
  max-width: 30em;
  min-height: 200px;
  background: rgba(25, 25, 25, 0.75);
  color: rgb(208, 208, 208);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
}

.passcodeBoxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100px;
  padding: 20px 0;
  margin: auto;
}

.passcodeBox {
  position: relative;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 400ms;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.passcodeBall {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: rgba(208, 208, 208, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pin {
  margin-left: 2px;
  min-height: 20px;
  position: relative;
  letter-spacing: 2px;
}

.clearThik {
  color: rgba(0, 0, 0, 0.5);
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 150px;
  text-decoration: none;
  top: -5px;
  border: solid 3px rgba(0, 0, 0, 0.5);
  width: 18px;
  height: 18px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  line-height: 20px;
  cursor: pointer;

  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-width: 12px;
    margin-top: -12px;
    margin-right: 3px;
  }

  &:before {
    content: '\2716';
    padding-left: 2px;
  }
}

.button {
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.cancel {
  float: left;
}

.submit {
  float: right;
}

.error {
  color: rgba(218, 39, 39, 0.85);
  padding-top: 7px;
}
