{
  "presets": [
    "es2017", "es2016", "es2015",
    "stage-0", "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-runtime",
    "lodash",
    "recharts"
  ],
  "retainLines": true,
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        [ "react-intl", { "messagesDir": "./.build/i18n/" } ],
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "webpack/test.js" } ]
      ]
    }
  }
}
