/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.button {
  background: #622;
}

.form {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}

.form .input {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.form .input * {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 1em;
}

.form .input label {
  width: 25em;
  opacity: 0.8;
  text-align: right;
}

.form .hint {
  width: 25em;
  opacity: 0.5;
}

.form .input input,
.form .input select {
  width: 18em;
  color: #444;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.5em;
}

.form select {
  height: 36px;
}

.form input.small {
  width: 9em;
  margin-right: 9.5em;
}

.form .error input {
  border: 1px solid rgba(255, 0, 0, 0.5);
  color: red;
  background: rgba(255, 0, 0, 0.1);
}

.form .error label {
  color: red;
}

.form .error .hint {
  color: red;
}

.buttonRow {
  text-align: right;
  width: 18em;
}

.button {
  color: white;
  border: none;
  border-radius: 1px;
  padding: 1em 2em !important;
  display: inline-block;
  margin-left: 1em !important;
  cursor: pointer;
  position: relative;
}

.button[disabled] {
  opacity: 0.5;
  cursor: default;
}
