.container {
  width: 100%;
  height: 100%;
}

.toolbar {
  background: rgb(65, 65, 65) !important;
  height: 72px !important;
  position: relative;
}

.tabs {
  width: 100%;
  position: relative;
}

.logo {
  height: 56px;
  padding: 8px 3em 8px 0;
}
