/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.type {
  color: #59f;
  font-weight: bold !important;
  font-size: 11px;
  padding: 0 0.5em 0 0.25em;
}

.inputContainer {
  flex: 1;
}

.input {
  border: 0;
  margin: 0;
  padding: 0;
  color: black;
  height: 100%;
  font-size: 11px;
  resize: none;
  width: 100%;
}

.container {
  border-top: 1px solid lightgray;
  display: flex;
  flex: 1;
  padding: 0.25em;
  position: relative;
}
