[submodule "ethcore/res/ethereum/tests"]
	path = ethcore/res/ethereum/tests
	url = https://github.com/ethereum/tests.git
	branch = develop
[submodule "nsis/win-build"]
	path = nsis/win-build
	url = https://github.com/ethcore/win-build
