.icon {
  border-radius: 50%;
  margin: 0;
}

.center {
  text-align: center;
}

.left {
  float: left;
  text-align: left;
  margin-right: 1em;
}

.right {
  float: right;
  text-align: right;
}

.padded {
  margin: 1em 0 0 0;
}

.inline {
  display: inline;
  margin-right: 0.75em;
}
