.icon {
}

.center {
  text-align: center;
}

.right {
  float: right;
  text-align: right;
}

.icon img {
  border-radius: 50%;
}

.padded {
  margin: 1em 0 0 0;
}

.inline {
  display: inline;
  margin-right: 0.75em;
}
