/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.input {
  box-sizing: border-box;
  appearance: textfield;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;

  transition-property: font-size, padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  color: white;
  font-family: inherit;
  font-size: 2em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #a2a2a2;
  }
}

.main {
  position: relative;
  top: 0;
  left: 0;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4em;

  height: 48px;
  width: 48px;

  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;

  transform-origin: 100% 0;
  transition-property: height, width, top, left, background-color, z-index;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  background-color: rgba(0, 0, 0, 0.0);
  z-index: -9999;

  display: flex;

  * {
    min-width: 0;
  }

  &.expanded {
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;

    .input {
      font-size: 3em;
      padding: 0.5em 2rem;
      display: block;

      padding-right: 6rem;
    }
  }
}

.empty {
  font-size: 1.5em;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categories {
  flex: 1;

  display: flex;
  flex-direction: row;

  margin: 2rem 2rem 0;

  > * {
    flex: 1;
  }
}

.category {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;

  .title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-color: white;
  }

  .cards {
    flex: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;

    margin: 1em 0;
  }
}

.inputAddress:hover {
  cursor: pointer;
}

.account {
  padding: 1em;
  margin: 0.5em 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.25);

  &:focus {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.35);
  }
}

.accountInfo {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;

  > * {
    padding: 0.25em 0;
  }

  .address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
  }

  .accountName {
    font-weight: 700 !important;
  }

}

.balance {
  .value {}

  .tag {
    margin-left: 0.5em;
    font-size: 0.85em;
  }
}
