.editicon {
  margin-left: 0.5em;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.transactions {
  width: 100%;
}

.transactions tr {
  line-height: 24px;
  vertical-align: middle;
}

.info {
  color: #aaa;
}
