/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.prompt {
  align-items: center;
  background-color: rgba(50, 50, 50, 0.85);
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;

  .label {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .input {
    border-bottom: 1px solid lightgray;
    padding: 0.5em 0;
  }

  input,
  input:focus {
    background: none;
    border: none;
    color: white;
    font-size: 1.25em;
    outline: none;
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30em;
  word-wrap: break-word;
}
