.info {
  padding: 1.618em 0;
  line-height: 1.618em;
  width: 75%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.columns>div {
  flex: 0 1 50%;
  width: 50%;
  position: relative;
}

.floatbutton {
  text-align: right;
  float: right;
  margin-left: -100%;
  margin-top: 28px;
}

.floatbutton>div {
  margin-right: 0.5em;
}
