/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.info {
  line-height: 1.618em;
  width: 100%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

.columns>div {
  flex: 0 1 50%;
  width: 50%;
  position: relative;
}

.floatbutton {
  text-align: right;
  float: right;
  margin-left: -100%;
  margin-top: 28px;
}

.floatbutton>div {
  margin-right: 0.5em;
}

.tokenSelect {
}

.token {
  height: 32px;
  padding: 4px 0;
}

.tokenSelect .token {
  margin-top: 10px;
}

.token img {
  height: 32px;
  width: 32px;
  margin: 0 16px 0 0;
  z-index: 10;
}

.token div {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
}

.tokenbalance {
  display: inline-block;
  color: #aaa;
  padding-left: 1em;
}

.tokenname {}

.address {
  position: relative;
}

.from {
  padding: 25px 0 0 48px !important;
  line-height: 32px;
}

.fromaddress {
  text-transform: uppercase;
  display: inline-block;
}

.frombalance {
  display: inline-block;
  color: #aaa;
  padding-left: 1em;
}

.icon {
  position: absolute;
  top: 35px;
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0;
}

.hdraccount {
  padding: 1em 0 0 0;
}

.hdrimage {
  display: inline-block;
}

.hdrdetails {
  display: inline-block;
}

.hdrname {
  text-transform: uppercase;
}

.hdraddress {
  color: #aaa;
  font-size: 0.75em;
}

.inputoverride {
  padding-top: 24px !important;
}

.contentTitle {
  font-size: 1.2rem;
}

.chart {
  position: absolute;
  width: 100%;
}

.gasPriceDesc {
  font-size: 0.9em;
}
