/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.listItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em;
  position: relative;

  .header,
  .details {
    line-height: 1.5em;
    position: relative;
    white-space: nowrap;

    .icon {
      border-radius: 0.75em;
      display: inline-block;
      height: 1,5em;
      margin-right: 0.5em;
      text-align: center;
      vertical-align: middle;
      width: 1.5em;
    }

    .title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
    }
  }

  .details {
    margin-left: 2em;
  }

  .muted {
    opacity: 0.25;
  }

  .status {
    background: #f80;
    border-radius: 0.25em;
    color: white;
    line-height: 1em;
    opacity: 0.9;
    padding: 0.5em;
    position: absolute;
    left: 2em;
    top: 0;
  }
}
