/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.input {
  div[type="button"] {
    margin: 14px 0.5em 0 0 !important;
    background: rgba(255, 255, 255, 0.1) !important;

    span {
      font-size: 0.75em !important;
      line-height: 1em !important;
      padding: 0.25em 0.5em !important;
      background: transparent !important;
    }

    svg {
      width: 1em !important;
      height: 1em !important;
      margin: 2px !important;
    }
  }

  /* the only seeimngly robust way to get to it, no other attributes to match */
  div[style*="256px"] {
    margin-bottom: 14px !important;
  }

  /* hint text, same as above */
  div[style*="bottom: 20px"] {
    bottom: 12px !important;
  }
}
