/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.status {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #ccc;
  display: flex;
  font-size: 0.75em;
  left: 0;
  padding: .4em .5em;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.netinfo {
  color: #ddd;
  flex-grow: 1;
  text-align: right;
  vertical-align: middle;
  text-align: right;

  div {
    display: inline-block;
    margin-left: 1em;
  }
}

.network {
  border-radius: 0.4em;
  line-height: 1.2;
  padding: 0.25em 0.5em;
  text-transform: uppercase;

  &.live {
    background: rgb(0, 136, 0);
  }

  &.test {
    background: rgb(136, 0, 0);
  }
}

.upgrade {
  div {
    display: inline-block;
    margin-left: 1em;
  }
}
