/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.status {
  padding: 0.5em;
  font-size: x-small;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.2)
}

.title {
  margin: 0 0.5em 0 2em;
}

.enode {
  word-wrap: break-word;
  float: right;
}

.enode > * {
  display: inline-block;
  margin: 0.25em 0.5em;
  vertical-align: top;
}

.block {
}

.netinfo {
  display: flex;
  align-items: center;
  color: #ddd;  
}

.netinfo > * {
  display: inline-block;
  margin-left: 1em;
}

.network {
  padding: 0.25em 0.5em;
  display: inline-block;
  border-radius: 4px;
  line-height: 1.2;
  text-transform: uppercase;
}

.networklive {
  background: rgb(0, 136, 0);
}

.networktest {
  background: rgb(136, 0, 0);
}

.peers {
}

.version {
  padding: 0.25em 0.5em;
  float: left;
}

.syncing {
}
