.list {
  margin-top: 1em;
}

.list input+div>div {
  top: 13px;
}

.selection {
  display: inline-block;
  margin-bottom: 0.5em;
}

.selection .icon {
  display: inline-block;
}

.selection .detail {
  display: inline-block;
}

.detail .address {
  color: #aaa;
}

.detail .balance {
  font-family: 'Roboto Mono', monospace;
}
