/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.columns {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  &>div {
    flex: 0 1 50%;
    position: relative;
    width: 50%;
  }
}

.gaseditor {
  margin-top: 1em;
}

.info {
  line-height: 1.618em;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.floatbutton {
  float: right;
  margin-left: -100%;
  margin-top: 28px;
  text-align: right;

  &>div {
    margin-right: 0.5em;
  }
}

.token {
  height: 32px;
  padding: 4px 0;

  img {
    height: 32px;
    width: 32px;
    margin: 0 16px 0 0;
    z-index: 10;
  }

  div {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: top;
  }
}

.tokenSelect {
  .token {
    margin-top: 10px;
  }
}

.tokenbalance {
  display: inline-block;
  color: #aaa;
  padding-left: 1em;
}

.tokenname {}

.address {
  position: relative;
}

.from {
  padding: 25px 0 0 48px !important;
  line-height: 32px;
}

.fromaddress {
  text-transform: uppercase;
  display: inline-block;
}

.frombalance {
  display: inline-block;
  color: #aaa;
  padding-left: 1em;
}

.icon {
  position: absolute;
  top: 35px;
}

.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0;
}

.hdraccount {
  padding: 1em 0 0 0;
}

.hdrimage {
  display: inline-block;
}

.hdrdetails {
  display: inline-block;
}

.hdrname {
  text-transform: uppercase;
}

.hdraddress {
  color: #aaa;
  font-size: 0.75em;
}

.inputContainer {
  padding-top: 10px;
}

.totalAmount {
  padding-top: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalTx {
  padding-top: 10px;
}

.contentTitle {
  font-size: 1.2rem;
}

.warning {
  border-radius: 0.5em;
  background: #f80;
  color: white;
  font-size: 0.75em;
  margin-bottom: 1em;
  padding: 0.75em;
  text-align: center;
}
