.actionbar {
  padding: 0.5em 24px !important;
  height: auto !important;
}

.tooltitle {
  text-transform: uppercase;
  color: white;
}

.toolbuttons {
}

.toolbuttons button {
  margin: 10px 0 10px 16px !important;
}
