.actionbar {
  padding: 0.25em 24px !important;
  height: auto !important;
}

.tooltitle {
  text-transform: uppercase;
  color: white;
}

.toolbuttons {
}

.toolbuttons button {
  /*color: white !important;*/
  margin: 10px 0 10px 16px !important;
}

.toolbuttons button:hover {
  /*background: rgba(80, 80, 80, 0.5) !important;*/
}

.toolbuttons svg {
  /*fill: white !important;*/
}
