<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleInfoDictionaryVersion</key><string>6.0</string>

    <key>CFBundleName</key>                      <string>Parity Ethereum</string>
    <key>CFBundleExecutable</key>                <string>go.sh</string>
    <key>CFBundleIdentifier</key>                <string>io.parity.ethereum</string>

    <key>CFBundleVersion</key>            <string>1.4.0</string>
    <key>CFBundleGetInfoString</key>      <string>Parity 1.4.0</string>
    <key>CFBundleShortVersionString</key> <string>1.4.0</string>

</dict></plist>
