/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.button {
  background: #08a;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  line-height: 24px;
  height: 24px;
  padding: 0.75em 1.5em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.button.first {
  border-radius: 5px 0 0 5px;
}

.button.middle {
  border-radius: 0;
}

.button.last {
  border-radius: 0 5px 5px 0;
}

.button.disabled {
  opacity: 0.25;
  cursor: default;
}

.button.inverse {
  color: #08a;
  background: white;
}

.button * {
  display: inline-block;
  vertical-align: top;
}
