/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.requests {
  bottom: 2.5em;
  position: fixed;
  right: 0.5em;
  z-index: 2750;

  * {
    font-size: 0.85rem !important;
  }
}

.request {
  background-color: rgba(40, 40, 40, 0.95);
  margin-top: 0.5em;

  .status {
    padding: 0.5em;

    &.error {
      background-color: rgba(200, 40, 40, 0.95);
    }
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
  }

  p {
    margin: 0;
  }
}

.identity {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;

  .icon {
    margin-bottom: 0.5rem;
  }
}

.inline {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.hash {
  margin-left: 0.35em;
  width: 10em;

  * {
    height: auto !important;
  }
}
