.bar {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.corner {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  right: 16px;
  border-radius: 4px 4px 0 0;
  padding: 0.5em 1em;
}

.link {
  white-space: nowrap;
  border: none;
  outline: none !important;
  color: white !important;
  display: inline-block;
}

.link img, .link svg {
  height: 24px !important;
  width: 24px !important;
  margin: 2px 0.5em 0 0;
}

.link+.link {
  margin-left: 1em;
}

.button {
}

.label {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.labelText {
  text-transform: uppercase;
  line-height: 32px;
  vertical-align: top;
  letter-spacing: 0.2em;
}

.labelBubble {
  border-radius: 50%;
  padding: 3px 5px;
  background: red;
  color: white;
  font-size: 0.7em;
  position: absolute;
  top: -2px;
  right: -10px;
}
