.bar {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  height: 6px;
  width: 100%;
}

.corner {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 6px;
  right: 0;
  border-top-left-radius: 8px;
}

.logo {
  padding: 8px 96px 0 8px;
  cursor: pointer;
}

.button {
}
