.token{
  position: relative;
  display: flex;

  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.name {
  padding-bottom: 0.75rem;
}

.token > div {
  max-width: 100%;
}

.title {
  font-size: 2rem;
  padding: 0 0 0.5rem;
}

.meta-query {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}

.meta-key {
  margin: 0 0.3rem;
  font-family: monospace;
}

.meta-value {
  margin-top: 0.5rem;
  max-width: 100%;
  overflow-wrap: break-word;
}

.unregister {
  margin-top: 1rem;
}

.add-meta {
  margin-top: 1rem;
}

.pending {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.35);
}

.dialog h3 {
  color: rgba(50, 100, 150, 1) !important;
  text-transform: uppercase;
}
