.token{
  display: flex;

  width: 300px;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.name {
  padding-bottom: 0.75rem;
}

.token > div {
  max-width: 100%;
}

.title {
  font-size: 2rem;
  padding: 0 0 0.5rem;
}

.meta-query {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}

.meta-value {
  margin-top: 0.5rem;
  max-width: 100%;
  overflow-wrap: break-word;
}
