/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.completed,
.welcome {
  p {
    line-height: 1.5em;
  }

  ul {
    background: rgba(0, 0, 0, 0.1);
    margin-right: 12em;
    padding: 1em 3em;

    li {
      line-height: 2em;
    }
  }
}

.tnc {
  overflow-y: auto;

  p,
  li {
    opacity: 0.8;
    line-height: 1.5em;
  }

  .accept {
    margin: 1.5em 0;
  }

  .markdown {
  }
}
