/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$blue: rgb(41, 128, 185);
$disabled-bg: #aaa;
$warning-bg: #e44;
$modal-bg: rgba(40, 40, 40, 0.75);

$background-color: #eee;
$text-color: #333;
$loading-color: #999;

$code-bg: #002b36;
$code-color: #b58900;
$code-title-bg: #073642;
$code-title-color: #859900;
