.subheader {
  margin-top: 0;
}

.inputTrigger { 
  display: none; 
  left: 310px;
  bottom: 4px;
  position: absolute;
  cursor: pointer;
  animation: fadein .3s;
}

*:hover > .inputTrigger { 
  display: block; 
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.logs {
  width: 100%;
  overflow: auto;
  height: 50vh;
  min-height: 400px;
  background: #F5F4F2;
}

.log {
  margin: 0;
  white-space: nowrap;
  overflow: visible;
}

.container {
  width: 100%;
}

.actions {
  float: right;
  opacity: 0;
  transition: opacity ease-in-out .5s;
  transition-delay: 0.2s;
}

div:hover > .actions {
  opacity: 1;
}

.actions a {
  margin-left: 5px;
  cursor: pointer;
  color: #bbb;
}
