/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.subheader {
  margin-top: 0;
}

.inputTrigger {
  display: none;
  left: 310px;
  bottom: 4px;
  position: absolute;
  cursor: pointer;
  animation: fadein .3s;
}

*:hover > .inputTrigger {
  display: block;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.logs {
  margin: 0;
  max-width: 100%;
}

.log {
  font-family: monospace;
  white-space: pre-line;
  word-wrap: break-word;
  color: #aaa;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
}

.logDate {
  color: green;
  font-size: 0.85em;
  margin-right: 0.5em;
}

.logText {
  flex: 1;
}

.stopped {
  color: #aaa;
  padding: 1em 0;
}

.container {
  width: 100%;
}

.actions {
  float: right;
}

.actions a {
  margin-left: 5px;
  cursor: pointer;
  color: #bbb;
}
