/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.panel {
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.add {
  align-items: center;
  background-color: #fcfcfc;
  border-bottom: 1px solid lightgray;
  cursor: default;
  display: flex;
  padding: 0.5em 1em;

  .plus {
    font-size: 15px;
    font-weight: bold !important;
    margin-right: 5px;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.code {
  display: flex;
  flex: 1;
  flex-direction: column;

  .console {
    border-top: 1px solid lightgray;
    max-height: 200px;
    flex: 0 0 0;

    > * {
      overflow: auto;
      height: 100%;
    }
  }

  > * {
    flex: 1;
  }

  :global(.CodeMirror) {
    height: 100%;
  }
}

.file {
  align-items: center;
  cursor: default;
  display: flex;
  padding: 0.5em 0.5em 0.5em 1em;

  &.selected {
    background-color: #f0f0f0;
  }

  &:hover {
    background-color: rgb(230, 236, 255);
  }

  .pristine {
    font-size: 20px;
    margin-right: 3px;
    height: 13px;
  }

  .remove {
    cursor: default;
    display: inline-flex;
    font-size: 14px;
    margin-left: -0.25em;
    margin-right: 0.25em;
  }
}

.inputContainer {
  background-color: white;
  border: solid 1px #d8d8d8;
  margin-right: 0.5em;
  padding: 3px;
  width: 100%;
}

.input {
  border: none;
  font: 11px Arial;
  width: 100%;
}
