/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.news {
}

.markdown {
  line-height: 1.2em;
}

.item {
  height: 240px;
  opacity: 0.85;
  position: relative;
  width: 100%;

  .background {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .overlay {
    background: white;
    color: #333;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0 1.5em 1em 1.5em;
  }

  .title {
    background: rgba(255, 255, 255, 0.85);
    bottom: 0;
    color: #333;
    font-size: 1.17em;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
  }

  &:hover {
    opacity: 1;

    .overlay {
      display: block;
    }
  }
}
