/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.news {
}

.item {
  height: 240px;
  position: relative;

  .background {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .overlay {
    background: white;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0 1.5em 1.5em 1.5em;

    * {
      color: #333;
    }
  }

  .title, .titleHover {
    bottom: 0;
    font-size: 1.25em;
    left: 0;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    z-index: 100;
  }

  .title {
    background: rgba(0, 0, 0, 0.85);
    color: white;
  }

  .titleHover {
    background: rgba(255, 255, 255, 0.85);
    color: #333;
  }
}
