/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

@import '../_utils.css';

$imgSize: 5rem;

.code {
  color: #b58900;
  font-family: 'Roboto Mono', monospace;
  margin-top: 1rem;

  .codeTitle {
    align-items: center;
    background-color: #073642;
    color: #859900;
    display: inline-flex;
    height: 2rem;
    padding: 0 0.5rem;
  }

  .codeContainer {
    background-color: #002b36;
    padding: 0.5rem 1rem;
  }

  code {
    font-size: 0.75rem;
    white-space: pre-wrap;
  }
}

.modal {
  align-items: center;
  background-color: rgba(40, 40, 40, 0.75);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;

  &.open {
    display: flex;
    opacity: 1;
    z-index: 100;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
  position: relative;
  width: 50rem;

  > * {
    padding: 0.5rem 1rem;
  }
}

.close {
  composes: bezier-transform;

  color: #888;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 0.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid #888;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
}

.icon {
  margin-right: 1.5rem;
  overflow: hidden;

  img {
    border: 1px solid #444;
    border-radius: 50%;
    height: $imgSize;
    width: $imgSize;
  }
}

.name {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.info {
  color: #444;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
