.accounts {
  display: flex;
  flex-wrap: wrap;
}

.account {
  flex: 0 1 50%;
  width: 50%;
}

.account:nth-child(odd)>div {
  padding-right: 0.5em !important;
}

.account:nth-child(even)>div {
  padding-left: 0.5em !important;
}
