.toolbar {
  background: rgb(65, 65, 65) !important;
  height: 72px !important;
  position: relative;
}

.tabactive {
  background: rgb(80, 80, 80) !important;
  border-radius: 4px 4px 0 0;
}

.tabs {
  width: 100%;
  position: relative;
}

.tabbarTooltip {
  left: 2em;
  top: 0;
}

.label {
  position: relative;
}

.labelBubble {
  border-radius: 50%;
  padding: 3px 5px;
  background: red;
  color: white;
  font-size: 0.7em;
  position: absolute;
  top: -10px;
  right: -10px;
}

.logo {
  margin: 22px 3em 0 0;
  white-space: nowrap;
}

.logo img {
  height: 28px;
  width: 28px;
  margin-right: 0.5em;
}

.logo div {
  display: inline-block;
  text-transform: uppercase;
  line-height: 32px;
  vertical-align: top;
  letter-spacing: 0.2em;
}

.signerIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
