/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

/* TODO: These tag styles are shared with Balances & Certifications - should be made into
/* a component that can take a list of tags and render them in the correct format
*/
.vault {
  display: flex;
  flex-wrap: wrap;
  margin: 0.75em 0 0;
  vertical-align: top;

  .vaultBody {
    margin: 0.75em 0.5em 0 0;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    max-height: 24px;
    max-width: 100%;
    display: flex;
    align-items: center;
  }

  img {
    height: 32px !important;
    margin: -4px 1em 0 0;
    width: 32px !important;
  }

  .text {
    margin: 0 0.5em 0 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
