.account {
  white-space: nowrap;
  padding-bottom: 0.5em;
  display: table;
}

.account>div {
  display: table-cell;
  padding-right: 1em;
  vertical-align: top;
}

.address {
  color: #aaa;
}

.details {
}

.editicon {
  margin-left: 0.5em;
}

.header {
  margin: -24px -24px 1em -24px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.175);
}

.header h3 {
  margin: 0;
  text-transform: uppercase;
}

.name {
  color: rgb(0, 151, 167) !important;
  text-transform: uppercase;
  cursor: pointer;
}

.noentries {
  color: #aaa;
}
