/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.form {
}

.form .input {
  margin-bottom: 2em;
}

.form .input>* {
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em;
  font-size: 1em;
}

.form label {
  opacity: 0.8;
  width: 20em;
  text-align: right;
  padding: 0.5em 0;
}

.form input {
  width: 20em;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.form input.small {
  width: 10em;
  margin-right: 11em;
}

.form .hint {
  opacity: 0.5;
}

.form .error input {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.form .error .hint {
  color: red;
}
