/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.splitInput {
  display: flex;
  flex-direction: row;

  > * {
    flex: 1;

    margin: 0 0.25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.change {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75em 1.75em;
  margin-bottom: 1em;

  &.add {
    background-color: rgba(139, 195, 74, 0.5);
  }

  &.remove {
    background-color: rgba(244, 67, 54, 0.5);
  }

  .label {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    margin-left: -1em;
    font-size: 0.8em;
  }
}

.eth:after {
  content: 'ETH';
  font-size: 0.75em;
  margin-left: 0.125em;
}

.modifications {
  color: white;
  margin: 0;
}

