html * {
  font-family: 'Source Sans Pro', 'Helvetica Neue', arial;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-top: .67em;
  margin-bottom: .67em;
}

h2 {
  font-size: 1.5em;
  margin-top: .67em;
  margin-bottom: .67em;
}

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro Light', 'Source Sans Pro', 'Helvetica Neue', arial;
}

strong {
  font-family: 'Source Sans Pro Bold', 'Helvetica Neue', arial;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  font-family: 'Source Sans Pro', 'Helvetica Neue', arial !important; /* shame on material ui using inline styles */
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src:  url('./assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
        url('./assets/fonts/sourcesanspro-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  src:  url('./assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
        url('./assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
}

