.DappHeader {
  text-align: center;
  position: relative;
  background-color: white;
  background: linear-gradient(to bottom, #edebed 0%,#d6d4d6 100%);
  height: 50px;
  line-height: 53px;
  border-top: 1px solid #f7f6f7;
  border-bottom: 1px solid #b1afb1;
  width: 100vw;
  z-index: 1000;
}

.backButton {
  position: absolute;
  left: 0px;
  top: 0px;
}

.backButton svg {
  height: 47.5px;
  width: 47.5px;
  padding-left: 8px;
  cursor: pointer;
}

#backName {
  position: absolute;
  left: 60px;
  top: -2px;
  font-size: 20px;
  font-weight: lighter;
}

.appName {
  font-weight: lighter;
  font-size: 20px;
}

#dappHeaderSearch {
  position: absolute;
  right: 10px;
  top: -2px;
}

#dappHeaderInput {
  background: linear-gradient(to bottom, #FDFDFD 0%,#F1F1F1 100%);
  border-top: 1px solid #CECCCE;
  border-left: 1px solid #C7C6C7;
  border-right: 1px solid #C7C6C7;
  border-bottom: 1px solid #A5A4A5;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  cursor: text;
  padding-left: 30px;
}

#dappHeaderInput:focus {
  outline: none;
}
