.status {
  background: rgba(25, 75, 125, 1);
  color: rgba(255, 255, 255, 1);
  padding: 4em 0 2em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
  text-transform: uppercase;
}
