/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.wrapper {
  border: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading {
  text-align: center;
  margin-top: 5em;
  color: #999;
  font-size: 2em;
}

$addressbar: 36px;
.url {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: $addressbar;
  line-height: $addressbar;
  display: flex;
  background: rgba(0, 0, 0, 0.85);

  > button {
    min-width: 50px !important;
  }

  > input {
    flex: 1;
    font-size: 1.1em;
    padding: 0.2em 0.5em;
    border-radius: 0.25em;
    border: none;
    background: #666;
    color: #eee;
    outline: none;
    box-shadow: 0 0 2px #111 inset;
    margin: 2px 0;
  }
}

.frame {
  position: absolute;
  width: 100%;
  height: calc(100% - $addressbar);
  top: $addressbar;
  bottom: 0;
  left: 0;
  right: 0;
}
