/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.input {
  box-sizing: border-box;
  appearance: textfield;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;

  transition-property: font-size, padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  color: white;
  font-family: inherit;
  font-size: 2em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #a2a2a2;
  }
}

.parityBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.25;
  z-index: -1;
}

.inputAddress {
  position: relative;

  &:hover, *:hover {
    cursor: pointer !important;
  }
}

.main {
  position: relative;
  left: 0;

  &:focus {
    outline: none;
  }
}

.closeIcon {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 4em;

  &, * {
    height: 48px !important;
    width: 48px !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.label {
  margin: 1rem 2rem 0.25em;
  color: rgba(255, 255, 255, 0.498039);
}

.underline {
  position: relative;
  margin: 0 9rem 0 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;

  transform-origin: 100% 0;
  transition-property: height, width, top, left, background-color, z-index;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  background-color: rgba(0, 0, 0, 0.0);
  z-index: -9999;

  display: flex;

  * {
    min-width: 0;
  }

  &.expanded {
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;

    .input {
      font-size: 36px;
      padding: 0 9rem 0.5em 2rem;
      display: block;

      padding-right: 6rem;
    }
  }
}

.empty {
  font-size: 1.5em;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categories {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 2rem 2rem 0;

  > * {
    flex: 1;
  }
}

.category {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
  max-width: 35em;

  .title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-color: white;
  }

  .cards {
    flex: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;

    margin: 1em 0;
  }
}
