/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$background: rgba(254, 254, 254, 1);
$backgroundHover: rgba(252, 252, 252, 1);
$backgroundLight: rgba(18, 18, 18, 0.5);
$borderColor: rgba(242, 242, 242, 1);
$shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.125);

.container {
  background: $background;
  flex: 1;
  height: 100%;
  padding: 0em;
  max-width: 100%;
  position: relative;
  width: 100%;

  .hoverOverlay {
    background: $background;
    display: none;
    left: 0;
    margin-top: -1.5em;
    margin-bottom: 3em;
    opacity: inherit;
    padding: 0 1.5em 1.5em 1.5em;
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0;
    z-index: 100;

  }

  &:hover {
    background: $backgroundHover;
    box-shadow: $shadow;

    .hoverOverlay {
      background: $backgroundHover !important;
      border: 1px solid $borderColor;
      border-top: 1px solid transparent;
      box-shadow: $shadow;
      display: block;
      opacity: 1;
    }
  }
}

.compact,
.padded {
  background-color: transparent !important;
  border-radius: 0 !important;
  border: 1px solid $borderColor;
  box-shadow: none !important;
  height: 100%;
  position: relative;
  overflow: auto;
}

.compact {
  padding: 0 1.5em;
}

.padded {
  padding: 1.5em;
}

.light .compact,
.light .padded {
  background: $backgroundLight !important;
}

.cardContainer {
  width: 100%;
  height: 100%;
}

.link {
  width: 100%;
  height: 100%;
}
