/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.details {
  width: 100%;

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .account {
      display: flex;
      flex-direction: column;
      flex: 1;

      .name {
        display: flex;
        flex-direction: row;
        flex: 1;

        .icon {
          flex: 0 0 56px;
          margin: 0 1em 0 0;
        }

        .title {
          flex: 1;
        }
      }

      .description {
        flex: 1;
      }
    }

    .qr {
      flex: 0 0 136px;
      margin: 1.5em 0 0 1.5em;
    }
  }
}

.spaced {
  line-height: 1.618em;
}

/* TODO: 2 column layout can be made generic, now duplicated in Vaults */
.passwords {
  display: flex;
  flex-wrap: wrap;

  .password {
    box-sizing: border-box;
    flex: 0 1 50%;
    width: 50%;

    &:nth-child(odd) {
      padding-right: 0.25rem;
    }

    &:nth-child(even) {
      padding-left: 0.25rem;
    }
  }
}

.identities,
.selector {
  display: flex;
}

.selector {
  margin-top: 1.5em;
}

.identities .identity,
.selector .button {
  flex: 0 1 12.5%;
  width: 12.5% !important;
  text-align: center;
  cursor: pointer;
}

.refresh {
  flex: 0 1 10%;
  width: 10% !important;
}

.checkbox {
  margin-top: 2em;
}

.selectItem {
  display: flex;

  .icon {
    color: rgb(167, 151, 0) !important;
    flex: 0 0 56px;
    height: 56px !important;
    margin-right: 0.75em;
    width: 56px !important;
  }

  .info {
    flex: 1 1;
  }
}

.fileImport {
  height: 9em;
  margin-top: 1em;
}

.summary {
  line-height: 1.618em;
  padding: 0 4em 1.5em 4em;
  text-align: center;
}

.backupPhrase {
  line-height: 1.618em;
  margin-top: 1.5em;
}
