/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.spaced {
  line-height: 1.618em;
}

/* TODO: 2 column layout can be made generic, now duplicated in Vaults */
.passwords {
  display: flex;
  flex-wrap: wrap;

  .password {
    box-sizing: border-box;
    flex: 0 1 50%;
    width: 50%;

    &:nth-child(odd) {
      padding-right: 0.25rem;
    }

    &:nth-child(even) {
      padding-left: 0.25rem;
    }
  }
}

.identities, .selector {
  display: flex;
}

.selector {
  margin-top: 1.5em;
}

.identities .identity, .selector .button {
  flex: 0 1 18%;
  width: 18% !important;
  text-align: center;
  cursor: pointer;
}

.refresh {
  flex: 0 1 10%;
  width: 10% !important;
}

.upload {
  text-align: right;
  float: right;
  margin-left: -100%;
  margin-top: 28px;
}

.upload>div {
  margin-right: 0.5em;
}

.checkbox {
  margin-top: 2em;
}
