.info {
  padding-bottom: 1.618em;
  line-height: 1.618em;
  width: 75%;
}

.password {
  flex: 0 1 50%;
  width: 50%;
}

.passwords {
  display: flex;
  flex-wrap: wrap;
}

.identities, .selector {
  display: flex;
}

.selector {
  margin-top: 1.5em;
}

.identities .identity, .selector .button {
  flex: 0 1 18%;
  width: 18% !important;
  text-align: center;
  cursor: pointer;
}

.refresh {
  flex: 0 1 10%;
  width: 10% !important;
}

.upload {
  text-align: right;
  float: right;
  margin-left: -100%;
  margin-top: 28px;
}

.upload>div {
  margin-right: 0.5em;
}
