/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.contract {
}

.vMethods, .hMethods, .methods {
  display: flex;
  flex-wrap: wrap;
}

.vMethods {
  flex-direction: column;
}

.hMethods {
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.method {
  background-color: rgba(255, 255, 255, 0.05) !important;
  margin: 1rem;
  align-items: flex-start;
}

.methodTitle {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.methodContent {
  padding-top: 0 !important;
  padding-bottom: 8px !important;
}

.methodResults {
  display: flex;
  flex-wrap: wrap;
  max-width: 24rem;
  justify-content: space-around;
}

.methodResults > div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.queryValue, .queryValue * {
  user-select: text !important;
  max-width: 100%;
  box-sizing: border-box;
  white-space: normal !important;
  overflow-wrap: break-word !important;
}

.queryValue:hover {
  cursor: text !important;
}

.queryResultName {
  margin-bottom: 0.25rem;
}

.events {
  width: 100%;
  border: none;
  border-spacing: 0;
}

.event {
  vertical-align: top;
  line-height: 26px;
}

.event td {
  vertical-align: top;
  padding: 1em 0.5em;
}

.txhash {
  text-overflow: ellipsis;
}

.key {
  text-align: right;
  color: #aaa;
}

.value {
}

.event td div {
  white-space: nowrap;
}

.mined {
}

.pending {
  opacity: 0.5;
}
