/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  background: #f8f8f8;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5);
  font-family: dejavu sans mono, monospace;
  left: 20px;
  position: absolute;
  max-height: 300px;
  overflow: auto;
}

.item {
  background-color: white;
  padding: 0.25em 0.25em 0.25em 0.35em;
  display: flex;
  justify-content: space-between;

  &.selected {
    background-color: rgb(64, 115, 244);

    &,
    .proto {
      color: white;
    }
  }

  &:hover {
    cursor: default;
  }

  &:hover:not(.selected) {
    background-color: rgb(230, 236, 255);
  }

  .proto {
    color: gray;
    margin-left: 1em;
  }
}
