/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$imageSize: 56px;
$imageMargin: 72px;

.app {
  .author {
    font-size: 0.75em;
    margin-top: 0.5em;
    opacity: 0;
  }

  .tags {
    opacity: 0;
  }

  &:hover {
    .author {
      opacity: 0.5;
    }

    .tags {
      opacity: 1;
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0.5em;
  left: -0.125em;
  padding: 1em;
  position: absolute;
  right: -0.125em;
  top: -0.25em;
  z-index: 100;

  .body {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 980px;
    text-align: left;

    &>div:first-child {
      padding-bottom: 1em;
    }
  }
}

.summary {
  position: relative;
  height: 100%;

  .description {
    margin-left: $imageMargin;
  }

  .image {
    border-radius: 50%;
    height: $imageSize;
    left: 1.5em;
    position: absolute;
    top: 1.5em;
    width: $imageSize;
  }

  .title {
    color: rgb(0, 151, 167);
    margin-bottom: 0.5em;
    max-height: $imageSize;
  }
}
