/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$backgroundColor: #f80;
$buttonColor: rgba(0, 0, 0, 0.5);
$textColor: white;

.body {
  background: $backgroundColor;
  color: white;
  max-width: 500px;
  opacity: 1;
  padding: 1em 4em 1em 2em;
  position: fixed;
  right: 1.5em;
  top: 1.5em;
  z-index: 1000;

  .buttonrow {
    text-align: right;
  }

  p {
    color: $textColor;
  }

  .close {
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}
