Package: parity
Version: 1.4.0
Source: parity
Section: science
Priority: extra
Maintainer: Ethcore <devops@ethcore.io>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.5
Homepage: https://ethcore.io
Vcs-Git: git://github.com/ethcore/parity.git
Vcs-Browser: https://github.com/ethcore/parity
Architecture: armhf
Description: Ethereum network client by Ethcore
