/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.actions {
  background: rgba(0, 0, 0, 0.25) !important;
}

.actions button:not([disabled]) {
  color: white !important;
}

.actions button:not([disabled]) svg {
  fill: white !important;
}

.body {
  padding: 0 !important;
}

.dialog {
}

.content {
  transform: translate(0px, 0px) !important;
  transition: none !important;
}

.content>div {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: none !important;
}

.title {
  padding: 1em;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.25) !important;
}

.title h3 {
  margin: 0;
  text-transform: uppercase;
}

.title .steps {
  margin-bottom: -1em;
}

.waiting {
  margin: 1em -1em -1em -1em;
}

.overlay {
  background: rgba(255, 255, 255, 0.5) !important;
  transition: none !important;
}
