/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.historyInfo {
  margin-top: 0;
  text-transform: initial;
}

.header {
  margin: 0;
}

.removeIcon {
  float: right;
  color: #bbb;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
}

div:hover > .removeIcon {
  opacity: 1.0;
}

.history {
  margin-top: calc(1em + 18.4px);
  padding-top: 0;
  overflow: auto;
  max-height: 60vh;
}
