/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.input {
  margin-top: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 50px;
}

.icon, .iconSuccess, .firstIcon {
  display: block;
  cursor: pointer;
  flex: 1;
  margin: 3px 3px;
  color: #bbb;
}

.success, .iconSuccess {
  color: #8bc34a;
}

.icon i, .iconSuccess i, .firstIcon i {
  vertical-align: middle;
}

.icons, .iconsVisible, .firstIcon {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  transition: opacity ease-in-out .2s;
  transition-delay: 0.2s;
}

.iconsVisible {
  opacity: 1.0;
}

.container:hover .icons, .container:hover .firstIcon {
  opacity: 1.0;
}

.firstIcon {
  position: absolute;
  left: -10px;
  right: auto;
  top: 0;
  bottom: 0;
  margin: 3px 0;
  display: block;
}

.autocomplete input {
  margin-top: 0;
  padding-left: 10px !important;
  padding-right: 50px !important;
}
