/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.item {
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
  width: 100%;

  &:hover {
    border-color: transparent;
    filter: none;
    opacity: 1;
  }

  .content {
    height: 100%;
    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .overlay {
    position: absolute;
    left: 0.75em;
    top: 0.75em;
    z-index: 1;

    .icon,
    .iconDisabled {
      border-radius: 0.25em;
      color: #333 !important;
      cursor: pointer;
      margin-right: 0.25em;
    }

    .icon {
      background: white;
    }

    .iconDisabled {
      background: #666;

      &:hover {
        background: white;
      }
    }
  }
}

.selected {
  border-color: rgba(255, 255, 255, 0.25);
  filter: none;

  &.default {
    border-color: rgba(255, 255, 255, 0.75);
  }
}

.unselected {
  filter: grayscale(10%);
  opacity: 0.75;
}
