/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.body {
  color: #333;
  padding: 0 5em 10em 5em;

  input, select {
    background: white;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    box-sizing: border-box;
    color: #333;
    font-size: 1em;
    margin: 0.25em 0 0.25em 0;
    padding: 0.5em 0.5em 1.5em 0.5em;
    width: 100%;
  }

  input {
    padding-bottom: 1.5em;

    &[error] {
      background: #fdd !important;
    }

    &[readonly] {
      background: #eee;
    }

    &[dirty] {
      background: #ffffcc;
    }
  }

  label {
    color: #888;
    display: block;
    font-size: 0.75em;
    margin-top: 1.5em;
  }

  select {
    height: 52px;

    &[disabled] {
      background: #eee;
    }
  }
}

.box, .footer, .header {
  border-radius: 0.25em;
  margin: 1em;
  padding: 1.5em;
}

.apps {
}

.app {
  padding: 0;
}

.buttonbar {
  text-align: right;
  margin: 1em 0 0 0;

  button {
    background: #08f;
    border: 1px solid #fff;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 1em 0 0 0.5em;
    padding: 0.75em 2em;

    &[disabled] {
      opacity: 0.5;
      cursor: default;
    }

    &.cancel {
      background: #888;
    }

    &.delete {
      background: #f80;
    }
  }
}

.footer, .header {
  text-align: center;
}

.footer {
  font-size: 0.75em;
}

.header {
}

.hint {
  color: #888;
  display: block;
  font-size: 0.75em;
  text-align: right;
  margin: -1.85em 0.5em 0 0.5em;
}

.loading {
  text-align: center;
  padding-top: 5em;
  font-size: 2em;
  color: #999;
}

.section {
}

.warning {
  background: #f80;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0.75;
  padding: 1.5em;
  position: fixed;
  right: 0;
}
