/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$background: rgba(18, 18, 18, 1);
$iconAddSize: 56px;

.layout {
  display: flex;
  flex-direction: row;

  .list {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 50%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0.5em;

    &.reverse {
      flex-direction: row-reverse;
    }

    .item {
      box-sizing: border-box;
      flex: 0 1 50%;
      text-align: center;
      padding: 0.25em;

      .content,
      .empty {
        box-sizing: content-box;
        padding: 1.5em;
      }

      .content {
        background: $background;
        cursor: pointer;
        opacity: 0.85;

        .iconAdd {
          height: $iconAddSize !important;
          width: $iconAddSize !important;
        }

        .name {
          line-height: $iconAddSize;
        }

        &:hover {
          opacity: 1;
        }
      }

      .empty {
        line-height: $iconAddSize;
        opacity: 0.5;
      }
    }
  }
}
