.addresses {
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.address {
  flex: 0 1 50%;
  width: 50%;
  position: relative;
}

.address:nth-child(odd)>div {
  padding-right: 0.5em !important;
}

.address:nth-child(even)>div {
  padding-left: 0.5em !important;
}

.empty {
  width: 100%;
  display: block;
}

.empty div {
  color: #aaa;
}
