.header {
  margin: -24px -24px 0 -24px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.175);
}

.header h3 {
  margin: 0;
  text-transform: uppercase;
}

.body {
  padding: 1em 1em 2.618em 1em;
}

.nothing {
  opacity: 0.6;
}

.name {
  color: rgb(0, 151, 167);
  text-transform: uppercase;
  cursor: pointer;
}

.account {
  white-space: nowrap;
  padding-bottom: 0.5em;
  display: table;
}

.account>div {
  display: table-cell;
  padding-right: 1em;
  vertical-align: top;
}

.address {
  color: #aaa;
}
