.info {
  padding-bottom: 1.618em;
  line-height: 1.618em;
  width: 75%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.columns>div {
  flex: 0 1 50%;
  width: 50%;
  position: relative;
}
