.container {
  height: 100%;
  width: 100%;
}

.apperror {
  padding: 2em;
  background: red;
  color: white;
}

.toolbar {
  background: rgb(65, 65, 65) !important;
  height: 72px !important;
  position: relative;
}

.tabs {
  width: 100%;
  position: relative;
}

.tabbarTooltip {
  left: 2em;
  top: 0;
}

.logo {
  height: 28px;
  width: 87px;
  margin: 22px 3em 0 0;
}
