.container {
  height: 100%;
  width: 100%;
}

.toolbar {
  background: rgb(65, 65, 65) !important;
  height: 72px !important;
  position: relative;
}

.tabs {
  width: 100%;
  position: relative;
}

.logo {
  height: 28px;
  width: 87px;
  margin: 22px 3em 0 0;
}
