/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$left: 1.5em;
$right: $left;
$bottom: $left;
$top: 20vh;

.backOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -10;
  opacity: 0;

  transform-origin: 100% 0;
  transition-property: opacity, z-index;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

  &.expanded {
    opacity: 1;
    z-index: 2500;
  }
}

.parityBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.25;
  z-index: -1;
}

.overlay {
  display: flex;
  position: fixed;
  top: $top;
  left: $left;
  width: calc(100vw - $left - $right);
  height: calc(100vh - $top - $bottom);

  transform-origin: 100% 0;
  transition-property: opacity, z-index;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  z-index: -10;

  * {
    min-width: 0;
  }

  &.expanded {
    opacity: 1;
    z-index: 3500;
  }
}

.closeIcon {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 4em;

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;

  &, * {
    height: 48px !important;
    width: 48px !important;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
