/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  background: #eee;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
  font-size: 8pt;
  color: #888;
}

.watch {
  align-items: flex-end;
  border-left: 1px solid #ccc;
  display: flex;
  padding: 0 1em;

  &.error .result {
    color: red;
  }

  .result {
    color: #00f;
    font-weight: bold;
    margin-left: 0.5em;
  }
}

.add {
  color: green;
  cursor: default;
  font-size: 14px;
  font-weight: bold !important;
  padding: 0 1em;

  &:hover {
    background-color: #fcfcfc;
  }

  &.selected {
    background-color: rgb(230, 236, 255);
  }
}

.addContainer {
  position: relative;
}

.addForm {
  bottom: 100%;
  display: flex;
  padding: 0.5em 0;
  position: absolute;
  width: 100vw;

  .inputContainer {
    border: solid 1px #d8d8d8;
    margin-right: 0.5em;
    padding: 3px;
  }

  .input {
    border: none;
    font: 12px Arial;

    &.big {
      width: 300px;
    }
  }

  .button {
    color: black;
    font: 12px Arial;
    padding: 0 1em;
  }
}

.remove {
  cursor: default;
  display: inline-flex;
  font-size: 14px;
  margin-right: 0.75em;

  * {
    line-height: 13px;
  }

  &:hover {
    background-color: #fcfcfc;
  }
}
