/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.accounts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5em;

  .account {
    margin: 0.5em;
  }
}

.container {
  text-align: center;

  .statusIcon {
    opacity: 0.75;
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .buttonRow {
    display: none;
    position: absolute;
    right: 1em;
    text-align: right;
    top: 1em;
    z-index: 1;
  }

  &:hover {
    .buttonRow {
      display: block;
    }

    .statusIcon {
      display: none !important;
    }
  }
}

.empty {
  margin-top: 1.5em;
  opacity: 0.5;
  text-align: center;
}

.name {
  line-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.namebox {
  padding-top: 0.75em;

  .identityIcon {
    margin: 0;

    &.locked {
      filter: grayscale(100%);
      opacity: 0.33;
    }
  }

  &.border {
    background: rgba(0, 0, 0, 0.25);
    padding: 1em;
  }
}

.textbox {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
