/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.chip > span {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.chip img {
  margin-bottom: -11px;
  margin-left: -11px;
}

.value {
  font-family: 'Roboto Mono', monospace;
  color: rgba(255, 255, 255, 1);
  -webkit-user-select: text;
  cursor: text;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 1em;
  margin-right: 0.5em;
  text-transform: uppercase;
}
