/* Copyright 2015, 2016 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

@import '../_list.css';

.empty {
  margin-top: 1.5em;
  opacity: 0.5;
}

.history {
  line-height: 2em;
  margin-top: 1.5em;
  vertical-align: middle;

  .entry {
    padding: 0;

    .identityIcon, .dappIcon {
      margin-bottom: -10px;
    }
  }

  .timestamp {
    opacity: 0.5;
    padding: 0 1em;
    text-align: right;
  }
}

.accounts, .dapps, .urls {
  margin-top: 1.5em;
}

.urls {
  .input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.25em;
    box-sizing: border-box;
    color: white;
    font-size: 1.25em;
    padding: 0.5em;
    width: 100%;
  }
}
