/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  margin: 1em;
  position: relative;

  > * {
    display: flex;
    justify-content: space-between;
  }
}

.actions {
  position: absolute;
  right: 1em;
  top: 1em;
}

.infoContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em 5em !important;
  width: 100%;
}

.info {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin: 1em 2.5em;
  width: 15em;

  * {
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
  }

  .title {
    font-size: 1.25em;
    margin-bottom: 0.75em;
  }

  a.title {
    color: rgba(52, 152, 219, 1);
    text-decoration: none;
  }
}

.reversed {
  margin-top: 1em;
  font-size: 1.25em;
}

.reverseButton {
  margin-top: 0.5em;
}
