/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.container {
  padding: 25px 0 15px;
}

.actions, .signDetails {
  display: inline-block;
  vertical-align: middle;
  min-height: 120px;
}

.signDetails {
  border-right: 1px solid #eee;
  margin-right: 2rem;
  /* TODO [todr] mess - just to align with transaction */
  width:  430px;
}

.address, .info {
  display: inline-block;
}

.info {
  padding: 0 30px;
  width: 250px;
  color: #E53935;
  vertical-align: top;
}

.info p:first-child {
  margin-top: 0;
}

/* TODO [todr] copy&paste from transactions */
.isConfirmed {
  color: green;
}

.isRejected {
  opacity: 0.7;
}

.txHash {
  display: block;
  word-break: break-all;
}

.actions {
  width: 180px;
  display: inline-block;
  min-height: 120px;
}

.signDetails img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
}
