/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.icon {
  border-radius: 50%;
  margin: 0;

  &.disabled {
    filter: grayscale(100%);
    opacity: 0.33;
  }
}

.center {
  text-align: center;
}

.left {
  float: left;
  text-align: left;
  margin-right: 1em;
}

.right {
  float: right;
  text-align: right;
}

.padded {
  margin: 1em 0 0 0;
}

.inline,
.tiny {
  display: inline-block;
  margin-right: 0.75em;
}

.button {
  display: inline;
  width: 24px;
  height: 24px;
  margin: 6px 0.25em 0 12px;
}
