/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.outerInput {
  display: flex;
  flex-direction: row;
  position: relative;

  .input {
    flex: 1;
  }

  .loader {
    position: absolute;
    bottom: 1rem;
    right: 9rem;
  }
}

.input {
  box-sizing: border-box;
  appearance: textfield;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;

  transition-property: font-size, padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  color: white;
  font-family: inherit;
  font-size: 2em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #a2a2a2;
  }
}

.copy {
  margin-right: 0.5em;
}

.inputAddressContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}

.inputAddress {
  flex: 1;

  &:focus {
    outline: none;
  }

  > *:hover {
    cursor: text !important;
  }
}

.main {
  position: relative;
  left: 0;
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  margin: 1rem 0.5rem 0.25em;
  color: rgba(255, 255, 255, 0.498039);
}

.underline {
  position: relative;
  margin: 0 0.5rem 0 0.5rem;
}

.empty {
  font-size: 1.5em;
}

.inputContainer {
  justify-content: flex-start;

  .input {
    font-size: 1.5em;
    padding: 0 9rem 0.5em 0.5rem;
    display: block;

    padding-right: 6rem;
  }
}

.container {
  margin-bottom: 1em;
}

.categories {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;

  > * {
    flex: 1;
  }
}

.category {
  margin: 0 0.5em;
  max-width: 35em;

  .title {
    text-transform: uppercase;
    font-color: white;

    h3 {
      margin: 0;
    }
  }

  .cards {
    overflow: auto;

    margin: 1em 0;
  }

  .account {
    margin: 0.5em 0;
  }
}
