.container {
  padding: 15px;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 1.2rem;
  animation: fadein .5s;
}

.container .remove {
  opacity: 0;
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
  transition: opacity .3s ease-in;
}
.container:hover .remove {
  opacity: 0.5;
}

.container.clickable {
  cursor: pointer;
}

.error {
  background: #E53935 !important;
  color: #fff !important;
}

.success {
  background: #43A047 !important;
  color: #fff !important;
}

.remove {
  float: right;
  cursor: pointer;
  opacity: 0.5;
}

.error .remove,
.success .remove {
  color: #fff !important;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
