/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.events {
  padding: 4em 2em;
  text-align: center;
}

.list {
  margin: 0 auto;
  border: none;
  border-spacing: 0;
  text-align: left;
}

.list td {
  vertical-align: top;
  padding: 0.25em 1em;
  max-height: 1.5em;
}

.event {
  line-height: 32px;
  vertical-align: top;
}

.blocknumber,
.ethvalue,
.gavvalue {
}

.blocknumber,
.gavvalue {
  text-align: right;
}

.ethvalue {
  text-align: center;
}

.type {
}

.account {
}

.account img {
  margin-bottom: -11px;
}

.address {
}

.name {
  text-transform: uppercase;
}

.event div {
  display: inline;
  margin-right: 1em;
  vertical-align: top;
}

.mined {
}

.pending {
  opacity: 0.5;
}

.buyin {
}

.refund {
}

.transfer {
}

.newtranch {
  background: rgba(255, 175, 0, 0.125); /*rgba(68, 51, 0, 0.15);*/
}
