/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.events {
  margin: 1em;
}

.options {
  margin: 0 .5em;
}

.reserved, .dropped, .dataChanged {
}

.reserved abbr, .dropped abbr {
  cursor: help;
}

.pending {
  opacity: .6;
}

.owner code {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  word-wrap: break-word;
}

.eventsList {
  width: 100%;
  boder: none;
}

.eventsList td {
  padding: 0.25em 0.5em;
}

.inline {
  display: inline-block;
  width: auto;
  margin-right: 1em;
}
