/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.card {
  position: relative;
  margin-top: 3em;

  .pin {
    display: none;
    position: absolute;
    top: 0;
    right: 1.6em;
    z-index: 1;
  }

  .pin.pinned {
    display: block;
    transform: rotate(45deg);
  }

  &:hover {
    .pin {
      display: block;
    }
  }

  .content {
    display: block;
    padding-top: 1em;

    .title {
      margin-top: 0.8em;
    }

    .image {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
      border-radius: 0.125em;
      display: block;
      width: 2em;
      height: 2em;
      margin-left: auto;
      margin-right: auto;
      padding: 0.125em;
    }
  }
}
