/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  display: flex;
  flex-direction: column;
}

.conditionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1.5em;

  .input {
    flex: 0 1 50%;
  }
}

.conditionRadio {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  &>label {
    margin-bottom: 0.5em;
  }

  &>div {
    display: flex;
    flex-direction: row;

    &>div {
      width: auto !important;

      label {
        padding-right: 1.5em;
        white-space: nowrap;
      }
    }
  }
}

.graphContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.editColumn {
  flex: 35;
  padding-left: 1em;
  justify-ontent: space-around;
  padding-bottom: 12;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

.gasPriceDesc {
  font-size: 0.75em;
  opacity: 0.5;
}

.graphColumn {
  flex: 65;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}
