/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.accounts {
  padding: 4em 2em 0 2em;
  text-align: center;
  width: 100%;
}

.account {
  margin: 0.5em !important;
  background: rgb(50, 100, 150) !important;
  display: inline-block !important;
}

.account img {
  margin-bottom: -11px;
  margin-left: -11px;
}

.balance {
  font-family: 'Roboto Mono', monospace;
  color: rgba(255, 255, 255, 1) !important;
}

.name {
  color: rgba(255, 255, 255, 0.7) !important;
  margin-right: 1em;
  text-transform: uppercase;
}

.none {
  color: rgba(255, 255, 255, 0.7);
}
