/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

$bgNormal: rgba(50, 50, 50, 0.7);
$bgFocus: rgba(50, 50, 200, 0.7);
$bgDisabled: rgba(150, 150, 150, 0.7);

.chip {
  background: $bgNormal;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0.5em 0.25em 0 0;
  padding: 0.125em 0.25em;

  &.disabled {
    background: $bgDisabled;
  }

  &.focus {
    background: $bgFocus;
  }

  .label {
    display: inline-block;
    padding: 0 1em;
    font-size: 0.75em;
  }

  .delete {
    border-radius: 1em;
    font-size: 0.75em;
  }
}
