/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.accountTooltip {
  top: 13.3em;
  left: 7em;
}

.account {
  position: relative;

  .addressline {
    display: flex;
    white-space: nowrap;

    .address {
      display: inline-block;
      flex: 1;
      margin-left: 0.5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .blockDescription {
    color: rgba(255, 255, 255, 0.25);
    margin-top: 1.5em;
  }

  .summary {
    position: relative;

    .ethBalances {
      opacity: 1;
    }

    .iconCertifications {
      bottom: -0.25em;
      opacity: 1;
      position: absolute;
      right: 0;
    }
  }

  .overlay {
    margin-top: -3.25em;
  }

  .owners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -0.5em;
    margin-top: 1em;

    .owner {
      margin: 0.5em;
    }
  }

  &:not(:hover) {
    .tags {
      display: none;
    }
  }

  &:hover {
    .ethBalances {
      opacity: 0;
    }

    .iconCertifications {
      opacity: 0;
    }
  }
}

.toolbar {
  position: relative;
}

.toolbarTooltip {
  right: 1em;
  top: 4em;
}

.loadings {
  display: flex;
  flex-wrap: wrap;

  .loading {
    flex: 0 1 50%;
    width: 50%;
    height: 150px;
    display: flex;
    padding: 0.25em;
    box-sizing: border-box;

    > div {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.heading {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .main,
  .mainLink {
    flex: 1;
    overflow: hidden;
  }

  .mainLink h3 {
    color: rgb(0, 151, 167);
  }
}
