/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.listItem {
  box-sizing: border-box;
  flex: 0 1 33.33%;
  max-width: 33.33%;
  padding: 0.5em;
  position: relative;

  .body {
    background: rgba(0, 0, 0, 0.025);
    border-radius: 0.25em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0.75em;
  }

  .status {
    background: #f80;
    border-radius: 0.25em;
    color: white;
    font-size: 0.75em;
    line-height: 1em;
    opacity: 0.9;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.header,
.details {
  display: flex;
  line-height: 1.5em;
  padding: 0.125em 0;
  position: relative;
  white-space: nowrap;

  .title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
}

.details {
  margin-left: 2em;
}

.icon {
  border-radius: 0.25em;
  display: inline-block;
  flex: 0 0 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  opacity: 0.75;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;

  &.error {
    box-shadow: inset 0 0 0 2px rgb(200, 0, 0);
    color: rgb(200, 0, 0);
  }

  &.ok {
    box-shadow: inset 0 0 0 2px rgb(0, 200, 0);
    color: rgb(0, 200, 0);
  }
}

.muted {
  opacity: 0.25;
}
