.container {
  padding: 25px 0 15px;
}

.mainContainer {
  position: relative;
}

.mainContainer > * {
  vertical-align: middle;
  min-height: 120px;
}

.statusContainer {
  width: 220px;
  padding: 20px 40px 0 40px;
  /*border-left: 1px solid #aaa;*/
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
}

.transactionDetails {
  margin-right: 321px;
}

.isConfirmed {
  color: green;
}

.isRejected {
  opacity: 0.7;
}

.txHash {
  word-break: break-all;
}
