/* Copyright 2015, 2016 Ethcore (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.container {
  padding: 25px 0 15px;
}

.mainContainer {
  position: relative;
}

.mainContainer > * {
  vertical-align: middle;
  min-height: 120px;
}

.statusContainer {
  width: 220px;
  padding: 20px 40px 0 40px;
  /*border-left: 1px solid #aaa;*/
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
}

.transactionDetails {
  margin-right: 321px;
}

.isConfirmed {
  color: green;
}

.isRejected {
  opacity: 0.7;
}

.txHash {
  display: block;
  word-break: break-all;
}
