/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.container {
  text-align: left;

  .accounts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5em;

    .account {
      margin: 0.5em;
    }
  }

  .empty {
    margin-top: 1.5em;
    opacity: 0.5;
    text-align: center;
  }

  .buttons {
    margin: -1em -1em 0.75em -1em;
    text-align: right;

    button.status {
      min-width: 2em !important;
    }

    button:not(.status) {
      display: none !important;
    }
  }

  &:hover {
    .buttons {
      button.status {
        display: none !important;
      }

      button:not(.status) {
        display: inline-block !important;
      }
    }
  }
}
