/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.error {
  padding-top: 1.25em;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .icon {
    height: 10em !important;
    opacity: 0.5;
    width: 10em !important;
  }

  .text {
    background: rgba(0, 0, 0, 0.25);
    line-height: 1.5em;
    margin-left: 3em;
    padding: 2em;
    width: 100%;
  }
}

.version {
  display: inline;
  opacity: 0.5;
  white-space: normal;
}
