[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=purity
Comment=Fast, light, robust Ethereum implementation
Exec=purity
Icon=/usr/share/pixmaps/icon.png
Terminal=true
