[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=parity
Comment=Fast, light, robust Ethereum implementation
Exec=parity
Icon=/usr/share/pixmaps/icon.png
Terminal=true
