/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/
.scrollButton {
  position: fixed !important;
  bottom: 35px !important;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  animation: fadein .5s;
  background: #eee !important;
  border-radius: 50%;
  border: 1px solid #6691C2 !important;
  z-index: 10;
  padding: 5px !important;
  width: 34px !important;
  height: 34px !important;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hidden {
  display: none !important;
}
